<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UP.Properties.Settings.abd_18ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=abd_18;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UP.Properties.Settings.ABD_18UPConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ABD_18UP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UP.Properties.Settings.b1ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=b1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>